---
---
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';


// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

h2 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 2em;
}

.p-5 {
    padding: 20px 30px !important;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
  }
}

.github-component {
  .f4 {
    a {
          font-weight: 400;
    }
  }
}

.flex-self-stretch {
  width: 30.33333%;

  .circle {
    border-radius: 4px !important;
    max-width: 120px;
  }

  .f4 {
    font-size: 14px !important;
  }

  .d-flex {
    margin-bottom: 5px !important;
    font-size: 0.8em;
    line-height: 1.4;

    &:last-of-type {
      margin-bottom: 30px !important;
    }

    a {
      margin-bottom: 0 !important;
      color: #388dc5 !important;
    }
  }

  .bg-green {
    background-color: #5eae71 !important;
    border-radius: 3px !important;
    position: absolute;
    bottom: 20px;
  }
}

.gutter-condensed {
  .f3 {
    line-height: 1 !important;
    font-size: 15px !important;
  }
}

@media (min-width: 1012px) {
  .col-lg-8 {
      width: 69.66667%;
  }
}
